<div class="panel-group">
  <div class="panel panel-default" *ngFor="let post of newsList">
    <div class="panel-heading">
      <span class="badge">{{post.title}}</span>
    </div>
    <div class="panel-body">
      {{post.content}}
    </div>
    <div class="panel-footer">
      <a [routerLink]="[post.id]" class="btn btn-primary btn-xs">Read</a>
      <span class="glyphicon glyphicon-star-empty"></span> {{post.rating}}
      <span class="glyphicon glyphicon-calendar"></span> {{post.date | date}}
    </div>
  </div>
</div>
