<div *ngIf="addAccess | async">
  <a routerLink="new" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span> Add post</a>
  <hr>
</div>
<div class="panel-group">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let post of newsList" style="cursor: pointer" [routerLink]="post.id">
      <h4>{{post.title}}</h4>
      <span class="badge">{{post.authorName}}</span>
      <div>
        {{post.content | slice:0:45}}...
      </div>
      <hr>
      <ul class="list-inline small">
        <li>
          <span class="glyphicon glyphicon-star-empty"></span> {{post.rating}}
        </li>
        <li>
          <span class="glyphicon glyphicon-calendar"></span> {{post.date | date:'medium'}}
        </li>
      </ul>
    </li>
  </ul>
</div>
