<div class="preloader" *ngIf="preloader.length > 0" appPreloader></div>
<div class="panel panel-default">
  <div class="panel-heading">Orders</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let order of orders">
        <h4>{{order.date | date:'medium'}}</h4>
        <div class="well pointer" [routerLink]="['../users', order.userId]">
          <span class="glyphicon glyphicon-user"></span> {{order.username}}
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let product of order.products">
            {{product.name}} ({{product.provider}})
            <span class="badge">${{product.price}}</span>
          </li>
          <li class="list-group-item">
            Delivering <span class="badge">${{order.deliveryPrice}}</span>
          </li>
          <li class="list-group-item">
            Discount <span class="badge">{{order.discount}}%</span>
          </li>
        </ul>
        <strong>Total price: ${{(getOrderPrice(order) + order.deliveryPrice).toFixed(2)}}</strong>
      </li>
    </ul>
  </div>
</div>
