<div class="panel panel-default">
  <div class="panel-heading">Orders</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let order of orders">
        <h4>{{order.date | date:'medium'}}</h4>
        <div class="well">
          <span class="glyphicon glyphicon-user"></span> {{getUsername(order.userId)}}
        </div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let product of order.products">
            {{product.name}}
            <span class="badge">${{product.price}}</span>
          </li>
        </ul>
        <strong>Total price: ${{getOrderPrice(order)}}</strong>
      </li>
    </ul>
  </div>
</div>
