<div class="panel panel-default">
  <div class="panel-heading">cOMMENTS</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">
        <span class="glyphicon glyphicon-comment"></span> Comment text...
        <hr>
        <small>
        <span class="glyphicon glyphicon-list-alt"></span> Post
        <span class="glyphicon glyphicon-calendar"></span> May 10, 2017
        <button type="button" class="btn btn-danger btn-xs">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        </small>
      </li>
    </ul>
  </div>
</div>
