<div class="panel panel-default">
  <div class="panel-heading">cOMMENTS</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let comment of comments">
        <span class="glyphicon glyphicon-comment"></span> {{comment.content}} | {{comment.id}}
        <hr>
        <small>
        <span class="glyphicon glyphicon-list-alt"></span> {{getPostTitle(comment.postId)}}
        <span class="glyphicon glyphicon-calendar"></span> {{comment.date | date:'medium'}}
        <button type="button" class="btn btn-danger btn-xs" (click)="deleteComment(comment.id)">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </button>
        </small>
      </li>
    </ul>
  </div>
</div>
