<div class="panel panel-default">
  <div class="panel-heading">Editing Providername</div>
  <div class="panel-body">
    <form>
      <div class="form-group">
        <label for="name">Provider's name:</label>
        <input type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="name">Provider's logo URL:</label>
        <input type="text" class="form-control" id="logoUrl">
      </div>
      <div class="form-group">
        <label for="name">Provider's email:</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="btn-group">
        <button type="button" class="btn btn-success">Apply</button>
        <button type="button" class="btn btn-default">Reset</button>
        <button type="button" class="btn btn-danger">Cancel</button>
      </div>
    </form>
  </div>
</div>
