<div class="panel panel-default">
  <div class="panel-heading">Editing provider's profile</div>
  <div class="panel-body">
    <form [formGroup]="providerForm" (ngSubmit)="submit()" *ngIf="providerForm">
      <div class="form-group">
        <label for="name">Provider's name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="name">Provider's logo URL:</label>
        <input type="text" class="form-control" id="logoUrl" formControlName="logoUrl">
      </div>
      <div class="form-group">
        <label for="name">Provider's email:</label>
        <input type="email" class="form-control" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="name">Description:</label>
        <textarea class="form-control" id="description" formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="rating">Rating:</label>
        <input type="number" class="form-control" id="rating" formControlName="rating">
      </div>
      <div class="form-group">
        <label for="rating">Provider's accounts:</label>
        <select formControlName="users" multiple class="form-control">
          <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
        </select>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-success" [disabled]="!providerForm.valid">Apply</button>
        <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        <a type="button" class="btn btn-default" routerLink="../">Cancel</a>
      </div>
    </form>
  </div>
</div>
