<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="btn btn-default btn-block" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Statistics</a>
        <a class="btn btn-default btn-block" routerLink="orders" routerLinkActive="active">Orders</a>
        <a class="btn btn-default btn-block" routerLink="users" routerLinkActive="active">Users</a>
        <a class="btn btn-default btn-block" routerLink="comments" routerLinkActive="active">Comments</a>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
