<div class="row">
  <div class="col-xs-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="btn btn-default btn-block" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="glyphicon glyphicon-list-alt"></span>
          Statistics
        </a>
        <a class="btn btn-default btn-block" routerLink="charts" routerLinkActive="active">
          <span class="glyphicon glyphicon-signal"></span>
          Charts
        </a>
        <a class="btn btn-default btn-block" routerLink="reports" routerLinkActive="active">
          <span class="glyphicon glyphicon-th-large"></span>
          Reports
        </a>
        <a class="btn btn-default btn-block" routerLink="orders" routerLinkActive="active">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          Orders
        </a>
        <a class="btn btn-default btn-block" routerLink="users" routerLinkActive="active">
          <span class="glyphicon glyphicon-user"></span>
          Users
        </a>
        <a class="btn btn-default btn-block" routerLink="comments" routerLinkActive="active">
          <span class="glyphicon glyphicon-comment"></span>
          Comments
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-9">
    <router-outlet></router-outlet>
  </div>
</div>
