.preloader {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(75,75,75,1);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    color: white;
    display: flex;
}

.preloader h1 {
    margin: auto;
}