<div class="preloader" *ngIf="preloader.length > 0" appPreloader></div>
<div *ngIf="addAccess | async">
  <a routerLink="new" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Add product</a>
  <hr>
</div>
<ul class="list-group">
  <a class="list-group-item" *ngFor="let product of (products | searchPipe: 'name' : filter.search | sortPipe: filter.sort : filter.reverse)"
    [routerLink]="product.id">
    <img [src]="product.imgUrl" [alt]="product.name" style="max-height: 64px;">
    <h4>{{product.name}}</h4>
    <span class="badge">${{product.price}}</span>
    <ul class="list-inline">
      <li>
        <span class="glyphicon glyphicon-home"></span>
        <span>{{product.count}} left</span>
      </li>
      <li>
        <span class="glyphicon glyphicon-info-sign"></span> {{product.description}}
      </li>
      <li>
        <span class="glyphicon glyphicon-star-empty"></span> {{product.rating}}
      </li>
      <li *ngIf="product.count <= 0">
      <span style="color: red">Sorry, no one left!</span>
    </li>
    </ul>
  </a>
</ul>
