<div class="preloader" *ngIf="preloader" appPreloader></div>
<div class="panel panel-default">
  <div class="panel-heading">Profile details</div>
  <div class="panel-body">
    <form [formGroup]="profileForm" (ngSubmit)="submit()" *ngIf="profileForm">
      <div class="form-group">
        <label>Your location:</label>
        <agm-map [latitude]="user.location.lat" [longitude]="user.location.lng" [zoom]="12" style="height: 400px">
          <agm-marker [latitude]="profileForm.value['location'].lat" [longitude]="profileForm.value['location'].lng" [iconUrl]="clientMarkerUrl"
            [markerDraggable]="editMode" (dragEnd)="changeUserPos($event)" #userMarker></agm-marker>
        </agm-map>
      </div>
      <div class="form-group">
        <label for="name">Registration date:</label> {{user.regDate | date:'medium'}}
      </div>
      <div class="form-group">
        <label for="name">Your ID:</label> {{user.id}}
      </div>
      <div class="form-group">
        <label for="name">Your category:</label> {{user.category}}
      </div>
      <div class="form-group">
        <label for="name">Name:</label> {{user.name}}
        <input type="text" class="form-control" id="name" *ngIf="editMode" formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label> {{user.email}}
        <input type="text" class="form-control" id="email" *ngIf="editMode" formControlName="email">
      </div>
      <div class="form-group" *ngIf="editMode">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="age">Birthdate:</label> {{user.birthdate | date:'mediumDate' }}
        <my-date-picker id="birthdate" *ngIf="editMode" formControlName="birthdate"></my-date-picker>
      </div>
      <div class="form-group">
        <label for="phone">Phone number:</label> {{user.phone}}
        <input type="text" class="form-control" id="phone" *ngIf="editMode" formControlName="phone">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label> {{user.gender}}
        <select id="gender" class="form-control" *ngIf="editMode" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <button type="button" class="btn btn-default btn-sm" (click)="toggleEditMode()" *ngIf="!editMode"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
      <div class="btn-group" *ngIf="editMode">
        <button type="submit" class="btn btn-success">Apply</button>
        <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-danger" (click)="toggleEditMode()">Cancel</button>
      </div>
    </form>
  </div>
</div>
