<div class="panel panel-default">
  <div class="panel-heading">Profile details</div>
  <div class="panel-body">
    <form [formGroup]="profileForm" (ngSubmit)="submit()">
      <div class="form-group">
        <label>Your location:</label>
        <agm-map [latitude]="gmap.lat" [longitude]="gmap.lng" [zoom]="gmap.zoom" style="height: 400px">
          <agm-marker [latitude]="profileForm.value['location'].lat" [longitude]="profileForm.value['location'].lng" [iconUrl]="clientMarkerUrl"
            [markerDraggable]="editMode" (dragEnd)="changeUserPos($event)" #userMarker></agm-marker>
        </agm-map>
      </div>
      <div class="form-group">
        <label for="name">Name:</label> {{user.name}}
        <input type="text" class="form-control" id="name" *ngIf="editMode" formControlName="name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label> {{user.email}}
        <input type="text" class="form-control" id="email" *ngIf="editMode" formControlName="email">
      </div>
      <div class="form-group">
        <label for="age">Birthdate:</label> {{user.birthdate | date:'medium' }}
        <input type="date" class="form-control" id="birthdate" *ngIf="editMode" formControlName="birthdate">
      </div>
      <div class="form-group">
        <label for="phone">Phone number:</label> {{user.phone }}
        <input type="text" class="form-control" id="phone" *ngIf="editMode" formControlName="phone">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label> {{user.gender}}
        <select id="gender" class="form-control" *ngIf="editMode" formControlName="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>
      <button type="button" class="btn btn-default btn-sm" (click)="toggleEditMode()" *ngIf="!editMode"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
      <div class="btn-group" *ngIf="editMode">
        <button type="submit" class="btn btn-success">Apply</button>
        <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-danger" (click)="toggleEditMode()">Cancel</button>
      </div>
    </form>
  </div>
</div>
