.support-toggle {
    font-size: 36px;
}

@media (max-width: 768px) {
    .support-toggle {
        position: static;
        margin: 20px;
    }
}

@media (min-width: 769px) {
    .support-toggle {
        position: fixed;
        left: 15px;
        bottom: 15px;
    }
}