<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <a class="btn btn-default btn-block" routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <span class="glyphicon glyphicon-user"></span> Profile
        </a>
        <a class="btn btn-default btn-block" routerLink="orders" routerLinkActive="active">
          <span class="glyphicon glyphicon-shopping-cart"></span> Orders
        </a>
        <a class="btn btn-default btn-block" routerLink="products" routerLinkActive="active">
          <span class="glyphicon glyphicon-shopping-cart"></span> Rated products
        </a>
        <a class="btn btn-default btn-block" routerLink="news" routerLinkActive="active">
          <span class="glyphicon glyphicon-list-alt"></span> Rated news
        </a>
      </div>
    </div>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
