<button type="button" class="btn btn-primary btn-xs" (click)="toggleNewComentForm()" *ngIf="auth | async"><span class="glyphicon glyphicon-comment"></span> Write a comment</button>
<hr>
<form *ngIf="commentFormActive && auth | async" (ngSubmit)="sendComment()" [formGroup]="commentForm">
  <div class="panel panel-default">
    <div class="panel-heading">
      Your comment:
    </div>
    <div class="panel-body">
      <textarea class="form-control" rows="5" id="comment" formControlName="commentText"></textarea>
      <hr>
      <button type="submit" [disabled]="!commentForm.valid" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Send</button>
    </div>
  </div>
</form>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let comment of comments">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{comment.authorName}}
        <span class="glyphicon glyphicon-calendar"></span> {{comment.date | date:'medium'}}
      </div>
      <div class="panel-body" [innerHTML]="comment.content | textPipe">
      </div>
      <div class="panel-footer" *ngIf="isAdmin | async">
        <a class="btn btn-xs btn-danger" (click)="deleteComment(comment.id)">
            <span class="glyphicon glyphicon-remove"></span> Delete
        </a>
      </div>
    </div>
  </li>
</ul>
