<div class="preloader" *ngIf="preloader.length > 0" appPreloader></div>
<ul class="list-group">
  <li class="list-group-item pointer" *ngFor="let provider of providers | sortPipe:'rating':true" [routerLink]="[provider.id]">
    <span class="badge">
        <span class="glyphicon glyphicon-star"></span> {{provider.rating}}
    </span>
    <img [src]="provider.logoUrl" class="img-responsive" [alt]="provider.name">
    <h4><span class="glyphicon glyphicon-briefcase"></span> {{provider.name}}</h4>
  </li>
</ul>
