<h1>Editing</h1>
<form [formGroup]="newsEditForm" (ngSubmit)="submitPost()" *ngIf="newsEditForm">
  <div class="form-group">
    <label for="title">Post title</label>
    <input type="text" class="form-control" name="title" id="title" formControlName="title">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea class="form-control" rows="5" id="content" name="content" formControlName="content"></textarea>
  </div>
  <div class="form-group" *ngIf="isAdmin | async">
    <label for="rating">Rating</label>
    <input type="number" class="form-control" name="rating" id="rating" formControlName="rating">
  </div>
  <div class="form-group" *ngIf="isAdmin | async">
    <label for="authorId">Author</label>
    <select class="form-control" id="authorId" name="user" formControlName="authorId">
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="title">Publishing date</label>
    <input type="date" class="form-control" name="title" id="title" formControlName="date">
  </div>
  <div class="btn-group">
    <button type="submit" class="btn btn-success" [disabled]="!newsEditForm.valid">Apply</button>
    <button type="button" class="btn btn-warning" (click)="delete()">Delete</button>
    <button type="button" class="btn btn-info" (click)="reset()">Reset</button>
    <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
  </div>
</form>
