<nav class="navbar navbar-default " role="navigation">
  <a class="navbar-brand" href="#">Angular Shop</a>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="/">Home</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/news">News</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/products">Products</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/providers">Our providers</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/dash">Dashboard</a>
    </li>
    <li routerLinkActive="active">
      <a routerLink="/admin">Admin</a>
    </li>
  </ul>
</nav>
