<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <a routerLink="new" button class="btn btn-primary btn-xs">Add user</a>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users">
        <h4>
          <span class="glyphicon glyphicon-user"></span> {{user.name}}
        </h4>
        <span class="badge"> {{user.category}}</span>
        <div class="btn-group">
          <a class="btn btn-default btn-xs" [routerLink]="user.id">
            Details
          </a>
        </div>
      </li>
    </ul>
  </div>
</div>
