<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <a routerLink="new" button class="btn btn-primary btn-xs">Add user</a>
    <hr>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users" [routerLink]="user.id">
        <h4>
          <span class="glyphicon glyphicon-user"></span> {{user.name}}
        </h4>
        {{user.regDate | date:'medium'}}
        <span class="badge"> {{user.category}}</span>
      </li>
    </ul>
  </div>
</div>
