.support {
    padding: 0 20px;
}

@media (max-width: 768px) {
    .support {
        position: static;
        width: 100%;
        height: 100%;
    }
}
@media (min-width: 769px) {
    .support {
        position: fixed;
        bottom: 70px;
        left: 0;
        width: 500px;
    }
}

.support .panel {
}

.support .panel-body {
    max-height: 250px;
    overflow-y: scroll;
}

.supp-chat__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.supp-chat__item {
    padding: 15px 10px;
}

.supp-chat__item_user {
    text-align: right;
}

.supp-chat__item_user:before {
    content: 'You: ';
    font-size: 10px;
    color: grey;
    display: block;
}

.supp-chat__item_supp:before {
    content: 'Support: ';
    font-size: 10px;
    color: grey;
    display: block;
}

.supp-msg__input {
    resize: none;
}

.supp-chat__time {
    font-size: 10px;
    color: grey;
}