<div class="support">
  <div class="panel panel-success">
    <div class="panel-heading">
      Support
    </div>
    <div class="panel-body">
      <div class="supp-chat">
        <ul class="supp-chat__list">
          <li class="supp-chat__item supp-chat__item_user">
            Text
          </li>
          <li class="supp-chat__item supp-chat__item_supp">
            Text
          </li>
          <li class="supp-chat__item supp-chat__item_user">
            Text
          </li>
          <li class="supp-chat__item supp-chat__item_user">
            Text
          </li>
          <li class="supp-chat__item supp-chat__item_supp">
            Text
          </li>
          <li class="supp-chat__item supp-chat__item_user">
            Text
          </li>
        </ul>
      </div>
    </div>
    <div class=" panel-footer">
      <div class="form-group">
        <textarea name="suppMsg" id="suppMsg" class="supp-msg__input" class="form-control"></textarea>
      </div>
      <button class="btn btn-primary ">Send</button>
    </div>
  </div>
</div>
