<div class="row">
  <div class="col-xs-12">
    <h2>Products</h2>
    <div style="display: block;">
      <canvas baseChart width="400" height="200" [datasets]="productsChart.data" [labels]="productsChart.labels" [options]="commonCharts.options"
        [chartType]="commonCharts.type"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Providers</h2>
    <div style="display: block;">
      <canvas baseChart width="400" height="200" [datasets]="providersChart.data" [labels]="providersChart.labels" [options]="commonCharts.options"
        [chartType]="commonCharts.type"></canvas>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2>Users</h2>
    <div style="display: block;">
      <canvas baseChart width="400" height="200" [datasets]="usersCatChart.data" [labels]="usersCatChart.labels" [options]="commonCharts.options"
        [chartType]="commonCharts.type"></canvas>
    </div>
  </div>
</div>
