<div class="panel panel-default">
  <div class="panel-heading">
    Ordering
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of cart; let i = index">
        <img [src]="product.imgUrl" [alt]="product.name" style="max-height: 64px;">
        <h4>{{product.name}}</h4>
        <span class="badge">${{product.price}}</span>
        <ul class="list-inline">
          <li>
            <span class="glyphicon glyphicon-info-sign"></span> {{product.description}}
          </li>
          <li>
            <span class="glyphicon glyphicon-star-empty"></span> {{product.rating}}
          </li>
          <li>
            <a class="btn btn-info btn-xs" [routerLink]="['../', product.id]"><span class="glyphicon glyphicon-list-alt"></span> Description</a>
          </li>
          <li>
            <button class="btn btn-danger btn-xs" (click)="removeFromCart(i)"><span class="glyphicon glyphicon-remove"></span> Remove</button>
          </li>
        </ul>
      </li>
    </ul>
    <div class="alert alert-success" *ngIf="successMsg">
      <strong>Thank you for order!</strong>
    </div>
    <div class="alert alert-info">
      Total price: <strong>${{price}}</strong>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        Delivery details
      </div>
      <div class="panel-body">
        <div id="gmap">
          <agm-map [latitude]="gmap.lat" [longitude]="gmap.lng" [zoom]="gmap.zoom" style="height: 400px" (mapReady)="mapReady($event)">
            <agm-marker *ngFor="let shop of shops" [iconUrl]="shop.iconUrl" [latitude]="shop.lat" [longitude]="shop.lng" (markerClick)="selectShop(shop)"></agm-marker>
            <agm-marker [latitude]="gmap.lat" [longitude]="gmap.lng" [markerDraggable]="true" (dragEnd)="setClientPos($event)"></agm-marker>
          </agm-map>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="direction()">Set location</button>
          <button type="button" class="btn btn-success" (click)="addOrder()">Apply</button>
        </div>
      </div>
    </div>

  </div>
</div>
