<div class="preloader" *ngIf="preloader.length > 0" appPreloader></div>
<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let order of orders">
      <h4>
        {{order.date | date:'medium'}}
      </h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let product of order.products">
          {{product.name}}
          <span class="badge">${{product.price}}</span>
        </li>
        <li class="list-group-item">
          Delivering: ${{order.deliveryPrice}}
        </li>
        <li class="list-group-item">
          Discount <span class="badge">{{order.discount}}%</span>
        </li>
      </ul>
      <strong>Total price: ${{getOrderPrice(order) + order.deliveryPrice}}</strong>
    </li>
  </ul>
</div>
