<div class="preloader" *ngIf="preloader" appPreloader></div>
<div class="row">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let order of orders">
      <h4>
        {{order.date | date:'medium'}}
      </h4>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let product of order.products">
          {{product.name}} ({{product.provider}})
          <span class="badge">${{product.price}}</span>
        </li>
        <li class="list-group-item">
          Delivering: <span class="badge">${{order.deliveryPrice}}</span>
        </li>
        <li class="list-group-item">
          Discount <span class="badge">{{order.discount}}%</span>
        </li>
      </ul>
      <strong>Total price: ${{(getOrderPrice(order) + order.deliveryPrice).toFixed(2)}}</strong>
    </li>
  </ul>
</div>
