/* You can add global styles to this file, and also import other style files */

select.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid
{
    color: red;
    border-color: red;
}

select.ng-dirty.ng-valid,
input.ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid
{
    color: green;
    border-color: green;
}