/* You can add global styles to this file, and also import other style files */

select.ng-dirty.ng-invalid,
input.ng-dirty.ng-invalid,
textarea.ng-dirty.ng-invalid
{
    color: red;
    border-color: red;
}

select.ng-dirty.ng-valid,
input.ng-dirty.ng-valid,
textarea.ng-dirty.ng-valid
{
    color: green;
    border-color: green;
}

.discount {
    font-size: 16px;
    color: MediumSlateBlue ;
}

.pointer {
    cursor: pointer;
}

.modal {
    display: block !important;
    background: rgba(0,0,0,.4);
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    color: white;
    display: flex;
    background: rgba(100,100,100,1);
    z-index: 9999;
}

.preloader h1 {
    margin: auto;
}