<div class="preloader" *ngIf="preloader.length > 0" appPreloader></div>
<div class="panel panel-default">
  <div class="panel-heading">Newest products</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item pointer" *ngFor="let product of products" [routerLink]="['../products',product.id]">
        <ul class="list-inline">
          <li>
            <span class="glyphicon glyphicon-inbox"></span> {{product.name}}
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{product.date | date:'medium'}}
          </li>
          <li>
            <span class="badge">${{product.price}}</span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{productsCount | async}} products
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Newest orders</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item pointer" *ngFor="let order of orders" [routerLink]="['../orders',order.id]">
        <span class="glyphicon glyphicon-calendar"></span> {{order.date | date:'medium'}}
        <span class="badge">
          ${{getOrderPrice(order)}}
          <span class="glyphicon glyphicon-shopping-cart"></span> {{getOrderProductsCount(order.id)}}
        </span>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{ordersCount | async}} orders
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Newest users</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item pointer" *ngFor="let user of users" [routerLink]="['users',user.id]">
        <ul class="list-inline">
          <li>
            <span class="glyphicon glyphicon-user"></span> {{user.name}}
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{user.regDate | date:'medium'}}
          </li>
          <li class="pull-right">
            <span class="badge">
                {{user.category}}
             </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{usersCount | async}} users
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Latest news</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item pointer" *ngFor="let post of news" [routerLink]="['../news',post.id]">
        <ul class="list-inline">
          <li>
            <span class="glyphicon glyphicon-list-alt"></span> {{post.title}}
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{post.date | date:'medium'}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{newsCount | async}} news
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Newest comments</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item pointer" *ngFor="let comment of comments" [routerLink]="['../news',comment.postId]">
        <ul class="list-inline">
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{comment.date | date:'medium'}}
          </li>
          <li>
            <span class="glyphicon glyphicon-comment"></span> {{comment.content | slice:0:100}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{commenstCount | async}} comments
  </div>
</div>
