<div class="panel panel-default">
  <div class="panel-heading">Products</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 products
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Orders</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 orders
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Users</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 users
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">News</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 news
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Comments</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">First item</li>
      <li class="list-group-item">Second item</li>
      <li class="list-group-item">Third item</li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 comments
  </div>
</div>
