<div class="panel panel-default">
  <div class="panel-heading">Newest products</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let product of products">
        <ul class="list-inline">
          <li>
            <a [routerLink]="['../products',product.id]" class="btn btn-primary btn-xs">{{product.name}}</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{product.date | date:'medium'}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{productsCount}} products
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Newest orders</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let order of orders">
        <span class="glyphicon glyphicon-calendar"></span> {{order.date | date:'medium'}}
        <span class="badge">
          ${{getOrderPrice(order)}}
          <span class="glyphicon glyphicon-shopping-cart"></span> {{getOrderProductsCount(order.id)}}
        </span>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 orders
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Newest users</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let user of users">
        <ul class="list-inline">
          <li>
            <a class="btn btn-primary btn-xs" [routerLink]="['users',user.id]">{{user.name}}</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{user.regdate | date:'medium'}}
          </li>
          <li class="pull-right">
            <span class="badge">
                {{user.category}}
             </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: 0 users
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Latest news</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let post of news">
        <ul class="list-inline">
          <li>
            <a [routerLink]="['../news',post.id]" class="btn btn-primary btn-xs">{{post.title}}</a>
          </li>
          <li>
            <span class="glyphicon glyphicon-calendar"></span> {{post.date | date:'medium'}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{newsCount}} news
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Newest comments</div>
  <div class="panel-body">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let comment of comments">
        <ul class="list-inline">
          <li>
            <a class="btn btn-default btn-xs" [routerLink]="['../news',comment.postId]">
              <span class="glyphicon glyphicon-comment"></span> 
            </a>
            <!-- <span class="glyphicon glyphicon-calendar"></span>
             {{comment.date | date:'medium'}} -->
            {{comment.content | slice:0:100}}
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="panel-footer">
    Total: {{commenstCount}} comments
  </div>
</div>
